body {
    background: #5f7bab9c;
}

.calculator {
    width: 400px;
    min-height: 500px;
    background: #f2f4f5;
    margin: 0 auto;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    margin-top: 30px;
    border-radius: 10px;
}

.auth {
    font-size: 11px;
    color: #485c70;
    font-weight: 500;
}

.calculator__result {
    border: 1px solid #b2b0b6;
    background-color: #fefbfb;
    border-radius: 5px;
    width: 100%;
    max-width: 350px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px 0px;
    overflow: hidden;
}

.calculator__result__exp {
    font-size: 30px;
    color: rgb(63, 63, 63);
    font-weight: 600;
}


/* .calculator__result__exp:nth-child(1) {
    overflow-x: hidden;
} */


/* .calculator__result__exp:nth-child(2) {
    margin-top: 5px;
} */

.calculator__btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    position: relative;
}

button {
    padding: 10px 15px;
    margin: 8px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 3px;
    outline: none;
    border: 1px solid #97a5b3;
}

button:focus {
    outline: unset;
    border: 3px solid #a0b9d1;
}

.btn_op {
    height: 116px;
    position: absolute;
    right: 9px;
    bottom: 0;
}

.btn_width {
    width: 117px;
}